// header
header{
    .navbar-brand{
        font-weight: bold;
        font-size: 27px;
        color: $blackColor !important;
    }
    .navbar-toggler{
        &:focus{
            outline: none;
            box-shadow: none;
            border-color: $mainColor;
        }
    }
    .navbar-nav{
        margin-left: auto;
        .signup-btn{
            width: 105px;
            height: 38px;
            border: 1px solid $mainColor;
            text-align: center;
            border-radius: 4px;
            color: $mainColor !important;
        }
        .signin-btn{
            margin-right: 24px;
            color: $blackColor !important;
        }
    }
}
// ./header

// signup component
.signup{
    margin-top: 102px;
    @media #{$maxMobile} {
        margin-top: 45px;
    }
    position: relative;
    .signup-title{
        font-size: 30px;
        color: $subColor;
        line-height: 1.6;
        font-family: larken;
        font-weight: bold;
        span{
            display: block;
        }
    }
    form{
        margin-top: 52px;
        @media #{$maxMobile} {
            margin-top: 35px;
            padding: 15px 0;
        }
        position: relative;
        .inheryt-input{
            margin-bottom: 50px;
            @media #{$maxMobile} {
                margin-bottom: 15px;
            }
        }
    }
    .social-icons{
        ul{
            list-style-type: none;
            position: absolute;
            right: 63px;
            top: 50px;
            @media #{$maxMobile} {
                right: 15px;
                top: 10px;
            }
            li{
                margin-bottom: 10px;
            }
        }
    }
}
// ./signup component


// candidates
    .candidate-form{
        // margin: 80px 0;
        // padding: 40px;
        padding: 40px;
        background-color: #fff;
        position: relative;
        .form-check{
            display: flex;
            align-items: center;
            padding-left: 3.25rem;
            margin-bottom: 40px;
            @media #{$maxMobile} {
                padding-left: 0;
            }
            .profile-img{
                border-radius: 50%;
                margin: 0 20px;
                width: 120px;
                height: 120px;
                @media #{$maxMobile} {
                    width: 60px;
                    height: 60px;
                }
            }
            .cand-info{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 800px;
                @media #{$maxMobile} {
                    width: 100%;
                }
                .form-check-label{
                    margin: 0 30px;
                    @media #{$maxMobile} {
                        margin: 0 15px;
                    }
                }
                .form-check-input{
                    margin-left: -2.25rem;
                }
                .num{
                    margin: 0 30px;
                }
            }
        }
        .can-footer{
            border-top: 1px solid #e2e1e1;
            padding: 24px 0;
            .submited-btn{
                line-height: unset;
                // display: block;
                // margin-left: auto;
                // position: absolute;
                // right: 30px;
                // bottom: 30px;
            }
        }
    }
// ./candidates


// admin
.admin{
    .candidate-content{
        padding: 40px;
        background-color: #fff;
        .add-btn{
            width: 210px;
            background-color: $mainColor;
            color: #fff;
            text-decoration: none;
            margin-bottom: 20px;
        }
        
        .table-responsive{
            th{
                border-top: 0 !important;
                // font-size: 13px;
            }
            .btn-container{
                display: flex;
                .assetes-btn{
                    text-decoration: none;
                }
                .edit-btn{
                    margin-right: 15px;
                    background-color: $mainColor;
                    color: #FFF;
                }
                .delete-btn{
                    background-color: rgb(238, 26, 26);
                    color: #FFF;
                }
            }
        }
        .pagination{
            margin-top: 30px;
        }   
        .results{
            width: 280px;
            margin-top: 50px;
            .assetes-btn{
                line-height: unset;
            }
        } 
    }
}

// add candidate
.add-section{
    .submited-btn{
        line-height: unset;
    }
    label{
        font-weight: 500;
        font-size: 14px;
    }
}

// ./admin



// candidate-result
.candidate.result{
    height: calc(100vh - 66px);
    position: relative;
}
.candidate-result{
    padding: 40px 20px;
    background-color: #fff;
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .candidate-result-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .can-name , .res-title{
            font-weight: 500;
            font-size: 18px;
        }
        &:first-child{
          border-bottom: 1px solid #eee;
          margin-bottom: 15px;
          padding-bottom: 15px;
        }
        .can-info{
            .profile-img{
                border-radius: 50%;
                padding: 3px;
                border: 1px solid #eee;
            }
            .profile-name{
                margin-left: 15px;
            }
        }
    }
}
// candidate-result
